.chat-page {
    height: 100vh;
  }
  
  .sidebar {
    height: 100%;
    overflow-y: auto;
  }
  
  .messages-list {
    padding: 0;
    list-style: none;
  }
  
  .messages-list li {
    padding: 15px;
    cursor: pointer;
  }
  
  .messages-list li:hover {
    background-color: #2a2a2a;
  }
  
  .chat-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .messages {
    flex-grow: 1;
    overflow-y: auto;
  }
  

  
  .message-bubble {
    padding: 10px;
    border-radius: 12px;
  }
  
  .bg-dark {
    background-color: #3a3a3a;
  }
  
  .bg-primary {
    background-color: #007bff;
  }
  
  .chat-input {
    position: sticky;
    bottom: 0;
  }
  