.login-page{
  background-image: url('../img/Intro_banner.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  animation: moveBackground 20s infinite alternate ease-in-out;

}
@keyframes moveBackground {
  /* 0% {
    background-position: 0 0;
    transform: scale(1) rotate(0deg);
  }
  20% {
    background-position: 50% 50%;
    transform: scale(1.1) rotate(3deg); 
  }
  40% {
    background-position: 100% 0;
    transform: scale(1.2) rotate(-3deg); 
  }
  60% {
    background-position: 50% 50%;
    transform: scale(1.15) rotate(6deg); 
  }
  80% {
    background-position: 0 100%;
    transform: scale(1.05) rotate(-6deg); 
  }
  100% {
    background-position: 100% 100%;
    transform: scale(1) rotate(0deg); 
  } */
}