.step-indicator-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between; /* Chia đều các bước */
  margin-bottom: 10px;
}

.step-box {
  position: relative;
  flex: 1; 
  text-align: center;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  color: #333;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Mũi tên nối liền nhau */
.step-box:before {
  content: '';
  position: absolute;
  top: -3px;
  right: -20px;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 20px solid #ccc;
  z-index: 1;
}

.step-box.active {
  background-color: #05678e;
  border-color: #05678e;
  color: white;
}

.step-box.active:before {
  border-left-color: #05678e; 
}

.step-box:last-child:before {
  display: none;
}

.step-box span {
  display: block;
  font-size: 17px;
  font-weight: bold;
}

.step-box p {
  font-size: 12px;
  margin-top: 5px;
}
