.profile-nav__container {
  border-top: 1px solid #ffffff;
  padding-top: 10px;
  border-bottom: 1px solid #ffffff;

}

.profile-nav__tabs {
  border-bottom: none;
}

.profile-nav__item {
  margin: 0 15px;
}

.profile-nav__link {
  color: #000;
  font-size: 16px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.profile-nav__link:hover {
  color: #007bff;
}

.profile-nav__link--active {
  color: white;
  border-radius: 10px 10px 0px 0px; 
  background-color: #000000; 
  padding: 10px 15px; 
  border-bottom: 5px solid #0768e7;
}

