.comment {
  color: #fff; /* Chữ trắng */
}

.comment .avatar-comment {
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-right: 15px;
  border: 1px solid #fff; 
}

.comment strong {
  font-weight: bold;
  margin-right: 5px;
}

.comment p {
  margin-bottom: 0; 
}

.comment .comment-content {
  color: #ccc; 
}
