.messchat-item {
  max-width: 60%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  display: flex; 
  align-items: flex-start;
  clear: both; /* Đảm bảo mỗi tin nhắn nằm riêng một dòng */
}

.sent {
  background-color: #0066cc;
  float: right; 
  border-radius: 20px 20px 0 20px;
  text-align: right;
  flex-direction: row-reverse;
}

.received {
  background-color: #3e3e3e;
  float: left; /* Đưa tin nhắn của người khác sang bên trái */
  border-radius: 20px 20px 20px 0;
  text-align: left;
}

.message-text {
  margin: 0;
}

.message-time {
  font-size: 12px;
  color: #ccc;
  margin-top: 5px;
  display: block;
  white-space: nowrap; /* Đảm bảo thời gian nằm trên một dòng */
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
