.chat-input {
  border-top: 1px solid #333;
  padding-top: 10px;
  display: flex;
}

.chat-input input {
  background-color: #1a1a1a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 25px;
  flex-grow: 1;
}

.send-btn {
  background-color: #505050;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
  margin-left: 10px;
  cursor: pointer;
}
